<?xml version='1.0' encoding='utf-8'?>
<widget version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Login Sys</name>
    <description>
        Login Sys.
    </description>
    <author email="umer_farooq444@yahoo.com" href="http://Login">
        Login Sys
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="StatusBarOverlaysWebView" value="false"></preference>
    <preference name="StatusBarBackgroundColor" value="#662d91"></preference>
</widget>
